<div class="container">
  <h1>マイページ</h1>
  <p>
    <strong>ユーザー名：</strong>
    <%= @user.name %>
  </p>
  <p>
    <strong>プロフィール：</strong>
    <%= @user.profile %>
  </p>
  <p>
    <strong>Image:</strong>
    <%= image_tag(@user.image_url) %>
  </p>
  <p>
    <strong>Thumb:</strong>
    <%= image_tag(@user.image_url(:thumb)) %>
  </p>
</div>
