<%= provide(:title, "ホーム") %>
<div class="home-body">
  <div class="contents">
    <h1 class="home-title">
      <strong>エンジニアと、つながろう</strong>
    </h1>
    <div class="home__buttom">
      <%= link_to "Twitterで登録/ログイン", user_twitter_omniauth_authorize_path, class: "btn btn-primary" %>
      <%= link_to "掲示板をのぞいてみる", boards_path, class: "btn btn-primary" %>
    </div>
  </div>
</div>
