<%= provide(:title, "ホーム") %>
<div class="home-body">
  <div class="contents">
    <h1 class="home-title">
      <strong>エンジニアと、つながろう</strong>
    </h1>
    <p class="text-faded mb-5"></p>
    <a class="btn btn-primary btn-xl" href="#">さっそく登録する</a>
  </div>
</div>
