// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.home-body {
  background: image-url("background.jpeg");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  height: 100vh;
  color: white;

  .contents {
    width: 100%;
    position:absolute;
    top: 50%;
    transform: translateY(-50%);
    margin: 0 auto;

    a {
      display: block;
      margin: auto;
      width: 200px;
    }
  }
}

.home-title {
    text-align: center;
    font-size: 4rem;
    font-style: italic;
}

