// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.profile-card {
  height: 420px;
}

.profile-image {
  margin: auto;
}

.profile-body {
  padding: 0.5rem;
}
